/**.App{
  background: rgb(0,08,88);
  height: 100vh;
  background: rgb(13,157,191);
  background: linear-gradient(90deg, rgba(13,157,191,1) 0%, rgb(240, 6, 170) 35%, rgba(134,12,138,1) 100%);

}*/
.App {
  font-family: 'Oxygen', sans-serif;
  height: 100vh;
  background: rgb(129,15,113);
  background: linear-gradient(0deg, rgba(129,15,113,1) 17%, rgba(114,26,215,1) 98%);
}